body {
    font-size: 16px;
    background-image: url(images/bg1.webp);
    background-size: cover;
    font-family: 'Arial';
    margin: 0; /* Ensure no default margin */
    padding: 0; /* Ensure no default padding */
    min-height: 100vh; /* Ensure body takes full height */
    display: flex;
    flex-direction: column;
}

/* This is for the navigation bar */

.nav {
    height: 60px;
    font-size: 1.5em; /* Adjust font size for better spacing */
    display: flex;
    justify-content: space-between; 
    background-color: #000000;
    align-items: center;
    padding: 0 1em;
    width: 100%; /* Make navigation bar full width */
    box-sizing: border-box; /* Include padding in width calculation */
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-item a {
    text-decoration: none;
    color: #FAF6F0;
    padding: 0 1em;
    transition: transform 0.3s ease; 
}


.nav-item a:hover {
    color: #ffeed4;
    transform: scale(1.1); 
}
.nav-item a:active {
    color: #ffffff;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 3em;
}

.nav-right {
    display: flex;
    align-items: center;
    margin-right: 0.5em;
}



.payment-mode {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.2em;
    background-color: #fff;
    color: #000;
}

.payment-mode:focus {
    border-color: #000;
    outline: none;
}

.container {
    width: 650px;
    margin: 100px auto 50px; /* Adjusted margin to account for fixed nav */
    padding: 30px; /* Increased padding for better spacing */
    background-color: #FAF6F0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px; /* Rounded corners */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
    font-size: 3em;
}



p,label{
    color: rgb(28, 28, 28);
    font-size: 1.4em;
    font-weight: bold;
}


button {
    display: block;
    width: 100%;
    padding: 15px; /* Increased padding for better spacing */
    background: #000000;
    color: #FAF6F0;
    border: 1px solid black;
    border-radius: 4px; /* Rounded corners */
    cursor: pointer;
    font-size: 2em; /* Increased font size for better readability */
}

button:hover {
    background: #FAF6F0;
    color: black;
}

